<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>


<h1>Query 1:  List of the Parks near a Particular Playground?</h1>
<h3>SELECT ?name ?PARK_obj WHERE{
    ?PARK_obj address: ?pg_location .
    ?PARK_obj name: ?name .
    FILTER regex(str(?PARK_obj) , 'park')
    {
        SELECT ?pg_location ?pg_obj where {
            ?pg_obj name:"South Park Playground" .
            ?pg_obj address: ?pg_location .
        }
    }

}</h3>

<form action="/q1" method="post">

    <select id="query1" name="query1">
        {% for results in summary %}
                <option value="{{ results }}">{{ results }}</option>
        {%  endfor %}
    </select>

<input type="submit" value="submit"/>
</form>

<h2>List of facilities available near a particular playground</h2>

<form action="/q2" method="post">

    <select id="query2" name="query2">
        {% for results in summary %}
                <option value="{{ results }}">{{ results }}</option>
        {%  endfor %}
    </select>

<input type="submit" value="submit"/>
</form>


<h2>Find the playground for a particular area of city?</h2>

<form action="/q3" method="post">

    <select id="query3" name="query3">
        <option value="City-Centre">City Center</option>
        <option value="City-East">City East</option>
{#        <option value="City-West">City West</option>#}
    </select>

<input type="submit" value="submit"/>
</form>

<h2>Give a location which has both playground and a park?</h2>

<form action="/q4" method="post">
<input type="submit" value="view"/>
</form>


<h2>Give a list of park names and its location where the Parking is within estate</h2>
<form action="/q5" method="post">
<input type="submit" value="view"/>
</form>

</body>
</html>